AgenticOps with MCP and Cisco RADKit.json
{
  "name": "AgenticOps with MCP and Cisco RADKit",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention",
          "any_event"
        ],
        "channelId": {
          "__rl": true,
          "value": "C09V8UNL8BT",
          "mode": "list",
          "cachedResultName": "all-my-network-ops"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -368,
        -112
      ],
      "id": "73954c5c-c5f7-4228-b7ff-d2a9d90f1e0e",
      "name": "Slack Trigger",
      "webhookId": "47d57bc9-602a-4831-a11e-8106c179029d",
      "credentials": {
        "slackApi": {
          "id": "xKFhbBXvH4WMNLHP",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a friendly network operations assistant. Format all responses with Slack markdown:\n- Use *bold* for emphasis\n- Use `backticks` for device names, IPs, commands\n- Use bullet points for lists\n- Keep responses clear and scannable\n\nBe helpful, professional, and conversational.\n\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -160,
        -112
      ],
      "id": "3f31969a-e5d8-4bb2-a547-849f60e3a722",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-haiku-20240307",
          "mode": "list",
          "cachedResultName": "Claude Haiku 3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -272,
        112
      ],
      "id": "67fe7610-9351-42e9-af42-698050b1569c",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "BvhN41ybFYduiu0I",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8000/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        128,
        112
      ],
      "id": "401900bc-8a79-4372-a27a-55386c5a39da",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Slack Trigger').item.json.channel }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        112
      ],
      "id": "30c4564f-ec12-4d58-88f0-67663242d49f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09V8UNL8BT",
          "mode": "list",
          "cachedResultName": "all-my-network-ops"
        },
        "text": "={{ $json.clean_response }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        320,
        -112
      ],
      "id": "a84a7ae9-4b70-4c74-b40f-31665dde6dda",
      "name": "Send a message",
      "webhookId": "0d6b6592-69fb-4d40-ba0e-e990659fa8d2",
      "credentials": {
        "slackApi": {
          "id": "xKFhbBXvH4WMNLHP",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6a31c5cc-5c16-4a69-9f3d-0000d6bdf8ac",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "fa05d1d4-283b-4930-9c40-17cca0ef449d",
              "name": "clean_response",
              "value": "=  {{ $json.output.split(']').pop().trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        -112
      ],
      "id": "d1c23385-dce3-4067-8229-ef6110315e37",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8fd906d2-b686-4afa-a22a-648bacad4324",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4de9a42c87eda9a4c640b17c25b85d3671e6543b0f5e167813e98f66b3cf2d02"
  },
  "id": "p24d6HhLlGVMSLWR",
  "tags": []
}