n8n/Reporting and Auditing for my RADKit/Reporting_Auditing for my RADKit.json
{
  "name": "Reporting/Auditing for my RADKit",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2288,
        320
      ],
      "id": "5d1ab0b7-153d-46e5-ab61-3123a898f9e0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "filePath": "=n8n/Reporting and Auditing for my RADKit/reports/files/{{ $('Consolidate report query').item.json.file_prefix }}_{{ $now}}.md",
        "fileContent": "={{ $json.output }}",
        "commitMessage": "={{ $('Consolidate report query').item.json.file_prefix }} report gen"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "a0939d2d-67b2-402e-ba4c-f9d185fc6407",
      "name": "Create a report file",
      "webhookId": "e166c285-6ad1-4efd-a30c-0ea0eba19ff5",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "title": "=[{{ $('Consolidate ticketing query').item.json.report_tag }}] [{{ $('Convert to JSON').item.json.priority }}] {{ $('Convert to JSON').item.json.title }}",
        "body": "={{ $('Convert to JSON').item.json.description }}\n\n📚 Reference report: {{ $('Consolidate ticketing query').item.json.report_url }}",
        "labels": [
          {
            "label": "={{ $json.priority }}"
          }
        ],
        "assignees": []
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1504,
        96
      ],
      "id": "fccafac4-7eea-4769-b019-73de778acd28",
      "name": "Create an issue",
      "webhookId": "0b777a2d-254b-4cf3-b721-9b1d79a1ab5e",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/reports",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -2080,
        320
      ],
      "id": "7f78ebdf-1220-435a-bc6a-3ca5b81538c5",
      "name": "List report query files",
      "webhookId": "8b525fa1-eeb6-4e2a-a76f-e44ce5a1f6e0",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entries = $input.all().flatMap(item => {\n  const data = item.json;\n\n  if (Array.isArray(data)) return data;\n  if (Array.isArray(data.items)) return data.items;\n  if (Array.isArray(data.data)) return data.data;\n\n  return [data];\n});\n\nconst reportQueryFiles = entries\n  .filter(entry =>\n    entry &&\n    entry.type === 'file' &&\n    typeof entry.path === 'string' &&\n    entry.path.includes('/reports/') &&\n    entry.path.endsWith('.txt')\n  );\n\nreturn reportQueryFiles.map(file => ({\n  json: {\n    report_query_path: file.path\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        320
      ],
      "id": "54985960-d810-482c-997e-b4f65c7cd343",
      "name": "Prepare report query files"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -1680,
        320
      ],
      "id": "23d94276-2e2d-496e-961f-8f182c45e76b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/agents/network_report_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1392,
        80
      ],
      "id": "db52e75d-694c-4d97-bdb0-17d14ea2c4d2",
      "name": "Get the report agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "filePath": "n8n/Reporting and Auditing for my RADKit/agents/network_ticketing_agent.txt",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7e55c2a5-59b1-4e26-a07d-63d4b8b127a7",
      "name": "Get the ticketing agent prompt",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    netauto_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        80
      ],
      "id": "a8aeb9f9-1cc1-4690-ab49-6a12d6016aed",
      "name": "Decode report agent prompt"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst base64Content = $input.first().json.content;\n\n// Decode from base64\nconst decodedContent = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Return the decoded content\nreturn {\n  json: {\n    ticketing_agent_prompt: decodedContent\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "55743f29-f3f6-40ce-9dc0-685909cbd5cf",
      "name": "Decode ticketing agent prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ticketing_agent_prompt }}\n\nReport: {{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        800,
        112
      ],
      "id": "d571a767-2e38-4ea7-9fa6-841513391c1d",
      "name": "Tickets AI Agent"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst output = items.map(item => {\n  let outputText = item.json.output;\n  \n  // Remove markdown code block markers (```json and ```)\n  outputText = outputText.replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n  \n  // Parse the JSON string into an object\n  const parsedJson = JSON.parse(outputText);\n  \n  return { json: parsedJson };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        112
      ],
      "id": "3002a861-ff7c-4f4f-b083-a27ff5719ec7",
      "name": "Convert to JSON"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "44b388a2-943d-4801-b559-c51f2b077113",
              "leftValue": "={{ $json.create_issue }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        112
      ],
      "id": "e046da37-537d-42d6-9d7d-b047a3f1d1f7",
      "name": "Is there an issue?"
    },
    {
      "parameters": {
        "jsCode": "// Return the files data\nconst items = $input.all();\n\nconst output = items.map(item => {\n  return {\n    json: {\n      report_url: item.json.content.html_url,\n      report_tag: item.json.commit.message\n    }\n  };\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        208
      ],
      "id": "80c32e22-37d8-435d-9bfa-883c873b2188",
      "name": "Get report URL and tag"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "ponchotitlan",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "radkit-agentic-workflows",
          "mode": "list",
          "cachedResultName": "radkit-agentic-workflows",
          "cachedResultUrl": "https://github.com/ponchotitlan/radkit-agentic-workflows"
        },
        "filePath": "={{ $json.report_query_path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1392,
        320
      ],
      "id": "650b98c5-3ec7-460f-bc1b-d4d1b0b2c15a",
      "name": "Get the report query file",
      "webhookId": "1775c2e6-93b0-4333-b8bd-cb5a9958fa9e",
      "credentials": {
        "githubApi": {
          "id": "PDqbRbIy6x8lk7mU",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        144,
        496
      ],
      "id": "fa9beb13-2bde-4d5e-b28f-6856b3a2e154",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "4owz77VYxvGXcz9k",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Consolidate report query').item.json.executionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -432,
        384
      ],
      "id": "d4f20888-4b35-4b6d-93d8-73bace9c643a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.netauto_agent_prompt }}\n\n- Query: {{ $json.query }}\n- Notes: {{ $json.notes }}\n",
        "options": {
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        112
      ],
      "id": "650a850a-72c9-4f82-9fe8-fa392dcf53cd",
      "name": "Reports AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the base64 content\nconst source = $input.first().json;\nconst base64Content = source.content;\n\n// Decode from base64\nconst text = Buffer.from(base64Content, 'base64').toString('utf-8');\n\n// Ensure it's a string\nconst raw = typeof text === 'string' ? text : JSON.stringify(text);\n\n// Split into lines\nconst lines = raw.split('\\n');\n\n// Object to store parsed fields\nconst result = {\n  report_query_path: source.path\n};\n\nfor (const line of lines) {\n  // Match pattern: - Key: Value\n  const match = line.match(/-\\s*(.+?):\\s*(.+)/);\n  if (match) {\n    const key = match[1]\n      .trim()\n      .toLowerCase()\n      .replace(/\\s+/g, '_'); // e.g. \"File Prefix\" -> \"file_prefix\"\n\n    const value = match[2].trim();\n    result[key] = value;\n  }\n}\n\n// Return as JSON\nreturn [\n  {\n    json: result\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1168,
        320
      ],
      "id": "eeb96ed2-0ed3-40d0-a48b-2247b1ec1951",
      "name": "Decode report query file"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -784,
        96
      ],
      "id": "f9b5083b-c13f-41b5-9335-d905ec0647c4",
      "name": "Merge report query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        112
      ],
      "id": "90328197-0572-415a-bf56-8bfa831fe230",
      "name": "Consolidate report query"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        96
      ],
      "id": "77fe9b2c-0e83-4f37-90da-c620c3a9a482",
      "name": "Merge ticketing query data"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Merge all json objects into one\nconst merged = {};\n\nfor (const item of items) {\n  Object.assign(merged, item.json);\n}\n\n// Return as a single item\nreturn [\n  {\n    json: merged\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        112
      ],
      "id": "8fad94ef-ed4b-4c5d-9493-44d411846e22",
      "name": "Consolidate ticketing query"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2288,
        176
      ],
      "id": "82a1f10c-3921-4467-9bd7-5f116d64d81c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "//Random string for session IDs in memory\nreturn [{\n  json: {\n    executionId: Math.random().toString(36).substring(2, 9)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        624
      ],
      "id": "5f74e5f4-83c1-4b71-ab6f-802f9d06d073",
      "name": "Random execution ID for memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ciscoWebexOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "Y2lzY29zcGFyazovL3VzL1JPT00vOGExMmJlMjAtYzlmNS0xMWYwLTkzYzAtMjEyOGM2M2I4MThm"
            },
            {
              "name": "text",
              "value": "=An automated report for your RADKit service was generated"
            },
            {
              "name": "attachments",
              "value": "={{ [\n  {\n    contentType: 'application/vnd.microsoft.card.adaptive',\n    content: {\n      $schema: 'http://adaptivecards.io/schemas/adaptive-card.json',\n      type: 'AdaptiveCard',\n      version: '1.3',\n      body: [\n        {\n          type: 'TextBlock',\n          size: 'Large',\n          weight: 'Bolder',\n          text: '📝 Automated Report Generation'\n        },\n        {\n          type: 'TextBlock',\n          size: 'medium',\n          isSubtle: true,\n          wrap: true,\n          text: '✨ A new report regarding your RADKit service is available!'\n        },\n        {\n          type: 'FactSet',\n          facts: [\n            { title: '🏷️ Report tag:', value: $('Consolidate report query').item.json.file_prefix || 'unknown' }\n          ]\n        },\n        {\n          type: 'TextBlock',\n          size: 'Small',\n          isSubtle: true,\n          wrap: true,\n          text: '⚠️ This report raised compliance issues! Click on the buttons below to navigate to the report and issues raised'\n        }\n      ],\n      actions: [\n        {\n          type: 'Action.OpenUrl',\n          title: '📄 Open GitHub report',\n          url: $('Consolidate ticketing query').item.json.report_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/tree/main/reports/files'\n        },\n        {\n          type: 'Action.OpenUrl',\n          title: '🐛 Open GitHub issue',\n          url: $json.html_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/issues'\n        }\n      ]\n    }\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        384
      ],
      "id": "528e6c06-a5d5-4cb8-8639-82678b059b4d",
      "name": "Send Card with Report and Issue",
      "credentials": {
        "ciscoWebexOAuth2Api": {
          "id": "HJLbFPzQ921k35AQ",
          "name": "Cisco Webex account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webexapis.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "ciscoWebexOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "roomId",
              "value": "Y2lzY29zcGFyazovL3VzL1JPT00vOGExMmJlMjAtYzlmNS0xMWYwLTkzYzAtMjEyOGM2M2I4MThm"
            },
            {
              "name": "text",
              "value": "=An automated report for your RADKit service was generated"
            },
            {
              "name": "attachments",
              "value": "={{ [\n  {\n    contentType: 'application/vnd.microsoft.card.adaptive',\n    content: {\n      $schema: 'http://adaptivecards.io/schemas/adaptive-card.json',\n      type: 'AdaptiveCard',\n      version: '1.3',\n      body: [\n        {\n          type: 'TextBlock',\n          size: 'Large',\n          weight: 'Bolder',\n          text: '📝 Automated Report Generation'\n        },\n        {\n          type: 'TextBlock',\n          size: 'medium',\n          isSubtle: true,\n          wrap: true,\n          text: '✨ A new report regarding your RADKit service is available!'\n        },\n        {\n          type: 'FactSet',\n          facts: [\n            { title: '🏷️ Report tag:', value: $('Consolidate report query').item.json.file_prefix || 'unknown' }\n          ]\n        }\n      ],\n      actions: [\n        {\n          type: 'Action.OpenUrl',\n          title: '📄 Open GitHub report',\n          url: $('Consolidate ticketing query').item.json.report_url || 'https://github.com/ponchotitlan/radkit-loves-agenticops/tree/main/reports/files'\n        }\n      ]\n    }\n  }\n] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1712,
        624
      ],
      "id": "b8a53e6e-f2e1-4c89-9a2b-586f0e44753d",
      "name": "Send Card with Report",
      "credentials": {
        "ciscoWebexOAuth2Api": {
          "id": "HJLbFPzQ921k35AQ",
          "name": "Cisco Webex account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8083/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -192,
        384
      ],
      "id": "3ca8062a-04b5-474a-8248-cf5dab1b66f9",
      "name": "Cisco RADKit MCP - Read-Only Mode"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List report query files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a report file": {
      "main": [
        [
          {
            "node": "Get report URL and tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report agent prompt": {
      "main": [
        [
          {
            "node": "Decode report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Decode ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report agent prompt": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode ticketing agent prompt": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tickets AI Agent": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Is there an issue?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is there an issue?": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Card with Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get report URL and tag": {
      "main": [
        [
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "List report query files": {
      "main": [
        [
          {
            "node": "Prepare report query files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare report query files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Get the report query file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Random execution ID for memory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get the report agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the report query file": {
      "main": [
        [
          {
            "node": "Decode report query file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Tickets AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Reports AI Agent": {
      "main": [
        [
          {
            "node": "Create a report file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge ticketing query data",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get the ticketing agent prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode report query file": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge report query data": {
      "main": [
        [
          {
            "node": "Consolidate report query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate report query": {
      "main": [
        [
          {
            "node": "Reports AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge ticketing query data": {
      "main": [
        [
          {
            "node": "Consolidate ticketing query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate ticketing query": {
      "main": [
        [
          {
            "node": "Tickets AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List report query files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random execution ID for memory": {
      "main": [
        [
          {
            "node": "Merge report query data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Send Card with Report": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Card with Report and Issue": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue": {
      "main": [
        [
          {
            "node": "Send Card with Report and Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cisco RADKit MCP - Read-Only Mode": {
      "ai_tool": [
        [
          {
            "node": "Reports AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff6109b6-6e9c-480e-b7d8-bfb70b1eba56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a0ec3830466234e1b2e9214ba36fcbcb83f2f3930ed2177b8383176a56744f3"
  },
  "id": "JjlI7Pw2W5SFab9k",
  "tags": [
    {
      "name": "reporting",
      "id": "3833Jhve5Q85yP1t",
      "updatedAt": "2026-05-21T06:28:03.163Z",
      "createdAt": "2026-05-21T06:28:03.163Z"
    },
    {
      "name": "netops",
      "id": "vFVzmjriTOWoVB8p",
      "updatedAt": "2026-05-21T06:24:22.685Z",
      "createdAt": "2026-05-21T06:24:22.685Z"
    }
  ]
}